.project-filter {
  display: block;
    width: 1199px;
    margin: 0 auto;
    @media(max-width: 1300px) {
      width: 992px;
    }
    @media(max-width: 992px) {
      width: 768px;
    }
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__line {
    margin-top: 23px;
    width: 100%;
    height: 1px;
    background: #959595;
  }
}
  
  .filter-button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 20px;
    padding: 10px;
  }

  .filter-button.active {
    position: relative;
    &::after {
      content: '';
      position: absolute;
      bottom: -24px; /* Відстань між кнопкою і лінією */
      left: 0;
      width: 100%;
      height: 2px;
      background: #BF1616;
    }

  }
  