
.ourWork {
  overflow:hidden ;
  background-image: url(../../../img/textureBg.png);
  padding-bottom:5rem ;
  &-header {
    display: flex;
    justify-content: space-between;
    padding: 7rem 0 ;
    &--title {
      font-family: 'Kyiv Region', sans-serif;
      font-size: 83px;
      font-weight: 500;
      line-height: 80px;
      letter-spacing: 0.07em;
      text-align: left;
      text-transform: uppercase;
      margin: 0;
      white-space: nowrap;
      align-self: end;
    }
    &-logos, &-logo{
      display: flex;
    }
  }
  &-list{
    position: relative;
    overflow: hidden;
  }
  &-container{
    display: grid;
    grid-template-columns: 0.5fr 0.2fr 0.5fr;
    &--logo{
      width: 80px;
      opacity: 0.7;
      @media (max-width: 1023px){
        width: 65px;
      }
      @media (max-width: 480px) {
        width: 34px;
      }
    }

    &--image{
      width: 9.5rem;
      border-radius: 15px;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 9.5rem;
      background-color: #AE8B70;
      padding: 1.25rem 2.5rem;

      &--image:before {
        content: "";
        position: absolute;
        top: calc(50% + 1.5rem);
        left: calc(100% + 0.25rem);
        height: 2px;
        width: 100px;
        background: linear-gradient(to right, transparent 50%, #e0e0e0 50%);
      }

      &--image:after {
        content: attr(data-index);
        position: absolute;
        top: calc(50% - 1rem);
        left: calc(100% + 0.25rem + 50px);
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        background-color: lightgrey;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
      }
      & img{
        width: 6rem;

      }
    }
    &--stepper{
      position: relative;
      grid-column: 2;
      grid-row: 1;
      justify-self: center;
    }
    &--info{
      width: 34rem;
      display: flex;
      flex-direction: column;
      color: #848481;
      padding: 1.25rem 4rem;


    }
    &--title{
      font-family: 'IBM Plex Mono',monospace;
      font-size: 22px;
      font-weight: 700;
      line-height: 21px;

    }
    &--text{
      font-family: 'IBM Plex Mono', monospace;
      font-size: 20px;
      font-weight: 500;
      line-height: 22px;
      text-align: left;
      width: 27rem;
    }
  }
  ul {
    margin: 0 auto;
  }
}
.active-item{
  background-color: #BF1616;
  color: white;
  position: sticky;
  top: 0;
  z-index: 1;

}
.image-box1{
  justify-self: end;
}
.info-box1{
  grid-column: 3;
  justify-self: start;
}
.image-box2{
  grid-column: 3;
}
.image-box3{
  justify-self: end;

}
.info-box2{
  grid-column: 1;
  grid-row: 1;
  justify-self: end;
}
.info-box4{
  grid-column: 1;
  grid-row: 1 ;
  justify-self: end;
}
.info-box1, .info-box3{
  padding: 1.25rem 0 ;
}
.info-box2, .info-box4{
  padding: 1.25rem 0 0 4rem ;
}
.step-number{
  background-color: rgba(255,255,255, 0.1);
  border: 3px solid #BF1616;
  border-radius: 50px;
  width: 3rem;
  text-align: center;
  height: 3rem;
  line-height: 40px;
  z-index: 99;

}
.active-number{
  background-color: #Bf1616;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  text-align: center;
  color: white;
  z-index: 99;
}
.vertical-line-container {
  position: absolute;
  top: 7.7rem;
  right: -3.25rem;
  transform: rotate(90deg);
  width: 9.5rem;
  height: 2px;
  background-color: #e0e0e0;
}

.vertical-line {
  position: absolute;
  height: 100%;
  width: 0;
  background-color: #BF1616;
  transition: width 0.5s;
}
@media screen and (max-width: 1023px) {
  .ourWork {
    padding-bottom: 4rem;
  }

  .ourWork-header {
    
    align-items: center;
    padding: 5rem 0 3rem;
  }
.ourWork-header-logos{
  display: none;
}
  .ourWork-header--title {
    font-size: 7vw;
    line-height: 61px;
    white-space: nowrap;
  }
  .ourWork-header-logo{
    height: auto;
  }
  .ourWork-list {
    display: flex;
    flex-direction: column;
    padding: 0;
    align-items: center;
  }

  .ourWork-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    margin-bottom: 2rem;
  }

  .ourWork-container--image {
    grid-column: 1;
    width: 10.5rem;
    height: 10rem;
    background-color: #bf1616;
    border-radius: 0;
    justify-self: center;
    padding: 0;
    align-self: center;
    & img{
      width: 7rem;
    }
  }

  .ourWork-container--info {
    width: 100%;
    grid-row: 2;
    grid-column: 1;
    padding: 1rem;
    gap: 1rem;
  }

  .ourWork-container--title {
    font-size: 28px;
    line-height: 26px;
    color: black;
    text-align: center ;
    font-weight: 600;
  }

  .ourWork-container--text {
    font-size: 24px;
    line-height: 29px;
    width: 100%;
    text-align: center;
    color: black;
    font-weight: 400;
  }

  .step-number {
    width: 2rem;
    height: 2rem;
    padding-top: 0.3rem;
  }

  .vertical-line-container {
    top: 2.7rem;
    right: -2rem;
    width: 2rem;
  }
  .image-box3{
    & img{
      width: 5rem;

    }
  }
  .ourWork-container--stepper {
    display: none;
  }

}
@media (max-width: 480px) {
  .ourWork {
    padding-bottom: 3rem;
  }

  .ourWork-header {
    position: relative;
    padding: 3rem 0 3rem 1rem;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 0.5fr;
  }

  .ourWork-header--title {
    font-size: 40px;
    line-height: 38px;
    grid-row: 1/3;
    white-space: normal;
  }


  .ourWork-container {
    margin-bottom: -1rem;
  }

  .ourWork-container--image {
    width: 6rem;
    height: 6rem;
    & img{
      width: 4rem;
    }
  }

  .ourWork-container--info {
    padding: 1rem;
    gap: 1rem;
  }

  .ourWork-container--title {
    font-size: 19px;
    line-height: 18px;
    font-weight: 600;
  }

  .ourWork-container--text {
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
  }

  .image-box3{
    & img{
      width: 3.5rem;

    }
  }
  .ourWork-container--logo{
    @media (max-width: 380px) {
      &:first-child{
        display: none;
      }
    }
    @media (max-width: 360px) {
      &:nth-child(2){
        display: none;
      }
    }
  }
  .ourWork-header-logo{
    position: absolute;
    top: 28%;

    @media screen and (max-width: 320px){
      right: 0;
    }
    @media screen and (min-width: 320px){
      left: 40%;
    }
    @media (max-width: 360px) {
      left: 50%;
    }
  }
}
