.phonePopUp{
  &-button{
    width: 4rem;
    height: 4rem;
    border-radius: 50px;
    padding: 0.7rem;
    position: fixed;
    top: 85%;
    right: 5%;
    z-index: 999;
    background-color: #fff;
    border: 1px solid black;
    animation: pulse 2s infinite;
    &:hover {

      background-color: lightgrey;
      transition: 0.35s;
    }
    &:focus{
      animation: none;
    }
  }

  &-container{
    position: fixed;
    bottom: 20%;
    right: 5%;
    z-index: 999;
    width:26rem;
    padding: 30px 35px;
    border-radius: 5px;
    height: 22rem;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    form {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    input {
      width: 100%;
      padding: 10px;
      margin-bottom: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
      font-family: "IBM Plex Mono", monospace;
      font-size: 18px;
    }

    button {
      padding: 15px 30px;
      background-color: #DF0E0E99;
      color: white;
      border: none;
      border-radius: 5px;
      font-family: "IBM Plex Mono", monospace;
      font-size: 18px;
      &:hover{
        background-color:#DF0E0E62 ;
      }
    }

    button:disabled {
      background-color: #ccc;
      cursor: not-allowed;
    }
    &--title{
      font-family: 'Kyiv Region', sans-serif;
      font-size: 24px;
      line-height: 1.35;
      font-weight: 600;
      margin-bottom: 20px;
      text-align: center;
    }
    &--text{
      font-family: 'IBM Plex Mono', sans-serif;
      font-size: 15px;
      margin-top: 20px;
      line-height: 1.2;
      & a{
        text-decoration: underline;
        color: black;
      }
    }

  }
}


@media (max-width: 1023px) {
  .phonePopUp{
    &-button{
      width: 4.5rem;
      height: 4.5rem;
      padding: 0 0.65rem;
    }
    &-container{
      bottom: 17%;
      right: 5%;
      width: 19rem;
      height: 20rem;
      padding: 1rem;
      &--title{
        font-size: 23px;
        line-height: 1.3;
        font-weight: 500;
      }
      &--text{
        font-size:16px ;
      }
    }
  }
}
@media (max-width: 480px) {
  .phonePopUp{
    &-button {
      width: 3rem;
      height: 3rem;
      padding: 0.5rem;
      top: 85%;
      right: 2.5rem;
      & svg {
        width: 32px;
        height: 30px;
      }
    }
      &-container{
        bottom: 21%;
        right: 9%;
        width: 12rem;
        height: 12rem;
        padding: 1rem 0.75rem;
        overflow: hidden auto;
        &--title{
          width: auto;
          font-size: 14px;
          line-height: 1;
          font-weight: 500;
          margin-bottom: 0.5rem;
        }
        &--text{
          font-size: 10px;
          margin-top: 0.5rem;
        }
        button{
          border-radius: 5px;
          font-size: 11px;
          padding: 0.3rem;
        }
        input{
          padding: 2px 10px;
          font-size: 11px;
          height: 1.5rem;
          margin: 0 0 0.5rem 0;
        }
      }
    }
  }
@keyframes pulse {
  0% {
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.3);
    transform: scale(1) rotate(0deg)
  }
  25% {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transform: scale(1.1) rotate(25deg);
  }
  50% {
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.3);
    transform: scale(1) rotate(0deg)
  }
  75% {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transform: scale(1.1) rotate(-15deg);
  }
  100% {
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.3);
    transform: scale(1) rotate(0deg)
  }
}
