.services {
  width: 100%;
  height: auto;
  overflow: hidden;
  background-image: url(../../../img/textureBg.png);

  &-top {
    display: flex;
    max-width: 100%;
    height: 24.5rem;
    padding-top: 3rem;
    align-items: center;
    justify-content: space-around;
    &--title {
      font-family: "Kyiv Region", sans-serif;
      font-size: 65px;
      font-weight: 500;
      line-height: 6rem;
      text-transform: uppercase;
      text-align: center;
      margin-left: 20px;
    }
    &__text{
      display: flex;
      flex-direction: column;
      font-family: "IBM Plex Mono", sans-serif;
      font-size: 25px;
      font-weight: 400;
      text-align: center;
      margin-left: 40px;
      white-space: nowrap;
    }
    &__span{
      color: #BF1616;
    }
  }

  &-center {
    margin: 2rem 0;
    display: flex;
    width: 100%;
    height: auto;
    position: relative;
    justify-content: center;
    gap: 2px;
    &-container{
      width: 500px;
      height: 900px;
      background-color: #1D1D1B;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      &:first-child{
        background-image: url(./img/1.jpg);
        background-size: cover;
      }
      &:nth-child(2){
        background-image: url(./img/2.jpg);
        background-size: cover;
      }
      &:last-child{
        background-image: url(./img/3.jpg);
        background-size: cover;
      }
      &__text{
        font-family: 'IBM Plex Mono', sans-serif;
        font-size: 22px;
        color: white;
      }
      &__button{
        width: 27px;
        height: 27px;
        background-color: #BF1631;
        border: 0;
        border-radius: 50px;
      }
    }
  }

  &-bottom {
    max-width: 100%;
    background-image: url(./img/imgbottom.png);
    background-size: cover;

    &-content {
      display: grid;
      grid-template-columns: 1fr 0.5fr;
      justify-items: center;
      align-items: center;
      width: 100%;
      height: auto;
      overflow: hidden;
      z-index: 1;
    }

    &--text {
      margin: 0;
      font-family: "IBM Plex Mono", monospace;
      font-size: 25px;
      font-weight: 500;
      line-height: 30px;
      color: white;
      padding: 1rem;
    }

    &--button {
      font-family: "Kyiv Region", sans-serif;
      font-size: 43px;
      font-weight: 500;
      line-height: 42px;
      text-transform: uppercase;
      background-color: #bf1616;
      color: white;
      text-decoration: none;
      width: 41.5rem;
      height: 27rem;
      display: flex;
      justify-content: space-around;
      align-items: center;
      position: relative;
      padding: 3rem;
      overflow: hidden;
      margin: 0 auto;

      &:hover {
        background-color: #880b08;
      }

      & img {
        position: absolute;
        top: 10rem;
        right: 5rem;
      }
    }
  }
}

@media (max-width: 1023px) {
  .services {
    &-top {
      height: auto;
      background-image: url(../../../img/textureBg.png);
      &--logos {
        padding-bottom: 2rem;
      }
      &--title {
        justify-content: space-between;
        font-size: 50px;
        line-height: 61px;
        text-align: left;
        background-color: rgba(0, 0, 0, 0);
        color: black;
        width: auto;
        margin-top: 0.5rem;
        margin-left: 0;
      }
    }

    &-center {
      flex-direction: column;
      &-container{
        width: 100%;
        height: 356px;
        &__button{
            display: none !important;
        }
      }
    }
    &-bottom {
      grid-template-columns: 1fr;
      grid-template-rows: 0.7fr 0.2fr;
      height: auto;
      padding-top: 2rem;
      &--text {
        font-size: 20px;
        line-height: 24px;
        text-align: center;
        padding-bottom: 2rem;
        & span {
          padding-top: 1rem;
          display: block;
        }
      }

      &--button {
        font-size: 30px;
        width: 100vw;
        text-align: center;
        padding: 1rem;
        height: 10rem;
        align-self: end;
        grid-row: 2;
        & img {
          position: relative;
          top: 0;
          right: 0;
          width: 4rem;
        }
      }
    }
  }
  .services-top--logos {
    display: flex;
    align-items: flex-start;
  }
}
@media (max-width: 480px) {
  .services {
    &-top {
      &--title {
        font-size: 40px;
        line-height: 38px;
      }
    }

    &-center {
      &-container{
        height: 160px;
      }
    }
    &-bottom {
      grid-template-columns: 1fr;
      grid-template-rows: 0.7fr 0.2fr;
      height: auto;
      padding-top: 2rem;
      &--text {
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        padding-bottom: 2rem;
        & p {
          padding-top: 1rem;
        }
      }

      &--button {
        font-size: 30px;
        line-height: 28px;
        width: 100vw;
        text-align: left;
        padding: 1rem;
        height: 25vh;
        align-self: end;

        & img {
          width: 3rem;
        }
      }
    }
  }
  .services-top--logos {
    display: flex;
    align-items: center;
  }
}
