.services {
  width: 100%;
  height: auto;
  overflow: hidden;
  background-image: url(../../../img/textureBg.png);

  &-top {
    display: flex;
    max-width: 100%;
    height: 80px;
    margin: 50px 0;
    align-items: center;
    justify-content: space-around;

    &--title {
      font-family: "Kyiv Region", sans-serif;
      font-size: 65px;
      font-weight: 600;
      line-height: 68px;
      text-transform: uppercase;
      text-align: center;
      margin-left: 20px;
      align-self: end;
    }

    &__text {
      display: flex;
      flex-direction: column;
      font-family: "IBM Plex Mono", sans-serif;
      font-size: 25px;
      font-weight: 400;
      text-align: center;
      margin-left: 40px;
      white-space: nowrap;
    }

    &__span {
      color: #BF1616;
    }
  }

  &-center {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    height: auto;
    position: relative;
    justify-self: center;
    gap: 2px;
    max-width: 1500px;
    margin: 0 auto 100px;
    overflow: hidden;

    &-container {
      position: relative;
      overflow: hidden;
      width: 500px;
      height: 900px;
      background-color: #1D1D1B;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      justify-self: center;
      background-size: cover;
      transition: transform 0.5s ease-in-out;
      &:hover{
        transform: scale(1.1);
        z-index: 10;
      }
      &:hover:before{
        background-color: rgba(0,0,0,0.1);
      }

      &:before {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, .5);
        transition: background-color 0.5s ease-in-out;
      }

      &:first-child {
        background-position: 31% center;
      }

      background-position: 73% 58%;

      &__text {
        font-family: 'IBM Plex Mono', sans-serif;
        font-size: 22px;
        color: white;
        grid-column: 1/3;
        grid-row: 1;
        z-index: 1;
        justify-self: center;
        align-self: end;
        display: flex;
        gap: 10px;
      }

      &__button {
        width: 27px;
        height: 27px;
        background-color: #BF1631;
        border: 0;
        border-radius: 50px;
      }
    }  }

  &-bottom {
    max-width: 100%;
    background-image: url(./img/imgbottom.png);
    background-size: cover;

    &-content {
      display: grid;
      grid-template-columns: 1fr 0.5fr;
      justify-items: center;
      align-items: center;
      width: 100%;
      height: auto;
      overflow: hidden;
      z-index: 1;
    }

    &--text {
      margin: 0;
      font-family: "IBM Plex Mono", monospace;
      font-size: 25px;
      font-weight: 500;
      line-height: 30px;
      color: white;
      padding: 1rem;
    }

    &--button {
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: center;
      justify-items: baseline;
      padding-left: 100px;
      column-gap: 40px;
      font-family: "Kyiv Region", sans-serif;
      font-size: 43px;
      font-weight: 500;
      line-height: 42px;
      text-transform: uppercase;
      background-color: #bf1616;
      color: white;
      text-decoration: none;
      width: 41.5rem;
      height: 27rem;
      position: relative;
      overflow: hidden;
      margin: 0 auto;

      &:hover {
        background-color: #880b08;
      }

      & img {
        width: 100px;
      }
    }
  }
}

@media (max-width: 1023px) {
  .services {
    &-top {
      height: auto;

      &--logos {
        padding-bottom: 2rem;
      }

      &--title {
        justify-content: space-between;
        font-size: 50px;
        line-height: 61px;
        text-align: left;
        background-color: rgba(0, 0, 0, 0);
        color: black;
        width: auto;
        margin-top: 0.5rem;
        margin-left: 0;
      }
    }

    &-center {
      display: flex;
      flex-direction: column;
      &::before, &::after{
        display: none;
      }

      &-container {
        width: 100%;
        height: 356px;
        background-position: center center;
        &:hover{
          transform: scale(1);
        }
        &:hover:before{
          background-color: rgba(0,0,0,0.5);
        }
        &__button {
          display: none !important;
        }
        &__text {
          font-size: 32px;
          justify-self: start;
          padding-left: 20px;
          grid-row: 1/3;
          align-self: center;
        }
      }
    }

    &-bottom {
      grid-template-columns: 1fr;
      grid-template-rows: 0.7fr 0.2fr;
      height: auto;
      padding-top: 2rem;

      &--text {
        font-size: 20px;
        line-height: 24px;
        text-align: center;
        padding-bottom: 2rem;

        & span {
          padding-top: 1rem;
          display: block;
        }
      }

      &--button {
        font-size: 30px;
        width: 100vw;
        text-align: center;
        padding: 1rem;
        height: 10rem;
        align-self: end;
        grid-row: 2;

        & img {
          position: relative;
          top: 0;
          right: 0;
          width: 4rem;
        }
      }
    }
  }
  .services-top--logos {
    display: flex;
    align-items: flex-start;
  }
}

@media (max-width: 492px) {
  .services {
    &-top {
      &--title {
        font-size: 40px;
        line-height: 38px;
      }
    }

    &-center {
      &-container {
        height: 160px;
        &__text {
          font-size: 16px;
        }
      }
    }

    &-bottom {
      grid-template-columns: 1fr;
      grid-template-rows: 0.7fr 0.2fr;
      height: auto;
      padding-top: 2rem;

      &--text {
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        padding-bottom: 2rem;

        & p {
          padding-top: 1rem;
        }
      }

      &--button {
        font-size: 30px;
        line-height: 28px;
        width: 100vw;
        text-align: left;
        padding: 1rem;
        height: 25vh;
        align-self: end;

        & img {
          width: 3rem;
        }
      }
    }
  }
  .services-top--logos {
    display: flex;
    align-items: center;
  }
}

