.reviews {
  background-image: url(../../../img/textureBg.png);
  padding: 5rem 0;
  overflow: hidden;
  &-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3rem;
    &--logo{
      opacity: 0.7;
    }
    &--title {
      margin-top: 1rem;
      font-family: 'Kyiv Region', sans-serif;
      font-size: 83px;
      font-weight: 700;
      line-height: 80px;
      text-transform: uppercase;
      letter-spacing: 0.2em;
      //widt: 35%;
      text-align: center;
    }
  }

  &-people {
    display: grid;
    grid-template-columns:auto;
    column-gap: 2rem;
    grid-template-rows: 0.25fr 0.25fr 1fr;
    width: 35rem;
    height: auto;
    border: 3px solid #BF1616;
    background-color: #FFFBF6;
    padding: 2rem 2.5rem 1rem;
    &--container {
      display: flex;
      justify-content: space-around;
    }

    &--image {
      grid-row: 1/3;
      align-self: center;
      justify-self: start;
      width: 5.5rem;
      height: 5.5rem;
    }

    &--name {
      font-family: 'IBM Plex Mono', monospace;
      font-size: 21px;
      font-weight: 700;
      line-height: 28px;
      color: #FFFFFF;
      background-color: #BF1616;
      width: 100%;
      height: 1.5rem;
      text-align: center;
      align-self: center;
    }

    &--link {
      text-decoration: none;
      color: black;
      font-family: 'IBM Plex Mono', monospace;
      font-size: 19px;
      font-weight: 400;
      line-height: 23px;
      grid-row: 2;
      gap: 1rem;
      align-self: center;
      display: flex;

      & img {
        width: 1.5rem;
        height: 1.5rem;
      }
    }

    &--text {
      font-family: 'IBM Plex Mono', monospace;
      font-size: 17px;
      font-weight: 400;
      line-height: 21px;
      grid-row: 3;
      grid-column: 1/4;
      margin-top: 1rem;
    }
  }

  &-description {
    font-family: 'Kyiv Region', sans-serif;
    font-size: 26px;
    font-weight: 700;
    line-height: 25px;
    width: 21rem;
    margin: 3rem 8rem;

    & a {
      font-family: 'IBM Plex Mono', monospace;
      font-size: 26px;
      font-weight: 500;
      line-height: 31px;
      letter-spacing: 0em;
      text-align: left;
      color: #BF1616;
      text-decoration: underline;
      text-underline-position: under;
    }
  }
}
@media screen and (max-width: 1023px) {
  .reviews{
    padding: 5rem 0 3rem;
  }
  .reviews-container {
    justify-content: flex-start;
    align-items: center;
  }
  .reviews-container--logo:first-child {
    display: none;
  }


  .reviews-container--logo:not(:first-child) {
    display: block;
  }
  .reviews-people--container {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 1rem;
    justify-items: center;
  }

  .reviews-container--title {
    font-size: 64px;
    line-height: 61px;
    width: auto;
    margin: 0;
    padding-left: 1rem;
  }
  .reviews-people{
    grid-template-columns: auto;
    column-gap: 1rem;
    width: 90vw;
    padding:1rem ;
    grid-template-rows: 0.25fr 0.25fr 0.5fr;
  }
  .reviews-people--name {
    font-size: 24px;
    line-height: 23px;

  }

  .reviews-people--link {
    gap: 0;
    font-size: 20px;
    line-height: 20px;
  }

  .reviews-people--text {
    padding: 0;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .reviews-description{
    width: auto;
    margin: 1rem 2.75rem;
    font-size: 32px;
    line-height: 30px;
    & a{
      border-bottom: 2px solid #BF1616;
      padding-bottom: 0.1rem;
      font-size: 32px;
      line-height: 39px;
    }
  }
}
@media screen and (max-width: 480px) {
  .reviews{
    padding: 3rem 0 1rem;
  }
  .reviews-container {
  }
  .reviews-container--logo:first-child {
  }

  .reviews-people--container {
  }

  .reviews-container--title {
    font-size: 40px;
    line-height: 38px;
    width: auto;
    margin-top: 0.75rem;
  }
  .reviews-people{
    padding: 1.5rem;
    height: auto;
  }
  .reviews-people--name {
    align-self: center;
    font-size: 12px;
    line-height: 24px;
  }

  .reviews-people--link {
    padding-left: 1rem;
    align-self: start;
    font-size: 12px;
    line-height: 15px;
    & img{
      width: 1rem;
      height: 1rem;
    }
  }

  .reviews-people--text {
    font-size: 14px;
    line-height: 17px;
  }
  .reviews-description{
    width: auto;
    margin: 1rem 2.75rem;
    font-size: 20px;
    line-height: 19px;
    & a{
      font-size: 20px;
      line-height: 24px;
      border-bottom: 2px solid #BF1616;
      padding-bottom: 0.1rem;
    }
  }
}