* {
    margin: 0;
  }
  
  .ourProjects {
    background-image: url(../../../img/textureBg.png);
    text-align: center;
    padding-bottom: 2rem;
    overflow: hidden;
    &-header {
      display: grid;
      grid-template-columns: .1fr .7fr .4fr 0.1fr;
      grid-template-rows: 0.5fr 0.5fr;
      padding-top: 5rem;
      margin-bottom: 3rem;
  
      &--title {
        white-space: nowrap;
        font-family: 'Kyiv Region', sans-serif;
        font-size: 82px;
        font-weight: 500;
        line-height: 80px;
        letter-spacing: 0em;
        text-align: left;
        justify-self: start;
        align-self: center;
        text-transform: uppercase;
        @media (max-width: 1150px){
          font-size: 7vw;
        }
      }
  
      &--text {
        font-family: 'IBM Plex Mono', monospace;
        font-size: 18px;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: 0em;
        text-align: left;
        width: 418px;
        @media (max-width: 1228px){
          width: 300px;
        }
      }
  
      &--info {
        font-family: 'IBM Plex Mono', monospace;
        font-size: 18px;
        font-weight: 500;
        line-height: 22px;
        letter-spacing: 0em;
        text-align: left;
        color: #BF1616;
        grid-row: 2;
        grid-column: 3;
        & span {
          font-family: 'IBM Plex Mono', monospace;
          font-size: 18px;
          font-weight: 700;
          line-height: 22px;
          letter-spacing: 0em;
          text-align: left;
        }
      }
    }
  
    &-container {
      width: 56rem;
      margin: 0 auto;
      &__elements{
        display: grid;
        grid-template-rows:360px 58px 360px;
        grid-template-columns: 360px 58px 360px;
        gap: 10px;
        &--image{
          width: 360px;
          height: 360px;
        }
        .image-0{
          grid-row: 1;
          grid-column: 1;
        }
        .image-1{
        grid-row: 1;
        grid-column: 3;
        }
        .image-2{
          grid-row: 3;
          grid-column: 1;
        }
        .image-3{
          grid-row: 3;
          grid-column: 3;
        }
        &--image:nth-child(4){
          grid-column: 3;
          grid-row: 3;
        }
        &--square{
          width: 58px;
          height: 58px;
          background-color: #BF1631;
          border-radius: 10px;
        }
        .square-0{
          grid-row: 1;
          grid-column: 2;
          align-self: end;
        }
        .square-1{
          grid-row: 2;
          grid-column: 1;
          justify-self: end;
        }
        .square-2{
          grid-row: 3;
          grid-column: 2;
        }
        .square-3{
          grid-row: 2;
          grid-column: 3;
        }
        &--staticImage{
          width: 360px;
          height: 360px;
          background-size: cover;
          opacity: 0;
          justify-items: start;
          display: grid;
          grid-template-columns: 0.1fr 1fr;
          grid-template-rows: 0.2fr 0.2fr;
          column-gap: 1rem;
          padding: 1.5rem;
          & p:first-child{
            color: white;
            background-color: #BF1631;
            border-radius: 50px;
            grid-row: 1/3;
            font-family: 'Kyiv Region', sans-serif;
            font-size: 36px;
            font-weight: 600;
            line-height: 71px;
            width: 4rem;
            height: 4rem;
            text-align: center;
            justify-self: center;
            align-self: center;
          }
          & p:nth-child(2){
            color: white;
            font-family: 'IBM Plex Mono', monospace;
            font-size: 24px;
            font-weight: 600;
            line-height: 44px;
            letter-spacing: 0em;
            align-self: end;
            white-space: nowrap;
          }
          & p:last-child{
            font-family: 'IBM Plex Mono', monospace;
            font-size: 24px;
            font-weight: 400;
            line-height: 29px;
            letter-spacing: 0em;
            text-align: start;
            color: white;
  
          }
          &:hover{
            opacity: 1;
            transition: .5s ease-in-out;
          }
          &:not(:hover) {
            opacity: 0;
            transition: .5s ease-in-out;
          }
        }
  
        .staticImage-0{
          grid-row: 1;
          grid-column: 1;
  
        }
        .staticImage-1{
          grid-row: 1;
          grid-column: 3;
        }
        .staticImage-2{
          grid-row: 3;
          grid-column: 1;
        }
        .staticImage-3{
          grid-row: 3;
          grid-column: 3;
        }
      }
      &--logos{
        opacity: 0.7;
        align-self: center;
      }
      @media screen and (min-width: 1023px) and (max-width: 1100px){
        width: 57rem;
        margin-left: 5.5vw;
      }
  
    }
    &-button {
      display: flex;
      align-items: center;
      justify-content: space-around;
      font-family: 'Kyiv Region', sans-serif;
      font-size: 25px;
      font-weight: 500;
      line-height: 24px;
      letter-spacing: 0em;
      text-align: left;
      background-color: #BF1616;
      color: white;
      margin: 2rem auto;
      width: 28rem;
      height: 10.5rem;
      &:hover{
        background-color: #BF16169D;
        transition: 0.35s;
      }
    }
  }
  
  .ourProjects-svg{
    grid-column: 2;
    justify-self: end;
    transform: rotate(140deg);
    margin-right: 1.5rem;
  }
  #arrow {
    fill: #000;
  }
  
  #curveLine {
    fill: none;
    stroke: #000;
    stroke-width: 4;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
    animation: reverseStroke 1s forwards;
  }
  
  @keyframes reverseStroke {
    from {
      stroke-dashoffset: 0;
    }
    to {
      stroke-dashoffset: 204;
    }
  }
  
  .logos{
    display: flex;
  }
  @media (max-width: 1023px) {
    .ourProjects {
      padding-bottom: 1rem;
      &-header {
        grid-template-columns: 0.9fr 0.5fr;
        padding: 3rem 0 0 2rem;
        @media (max-width: 810px){
          grid-template-columns: 0.9fr 0.3fr;
        }
        &--title {
          font-size: 7vw;
          font-weight: 500;
          line-height: 62px;
          @media (max-width:768px){
            font-size: 9vw;
          }
        }
        &--text {
          grid-row: 2;
          grid-column: 1/3;
          font-size: 24px;
          font-weight: 400;
          line-height: 29px;
          padding-bottom: 3rem;
          width: auto;
        }
        &--info {
  display: none
        }
      }
      &-svg{
        display: none;
      }
      &-container{
        width: 90vw;
        padding: 1rem 0;
        &__elements{
          grid-template-columns: 1fr;
          grid-template-rows: 3fr ;
          row-gap: 3rem;
          &--square{
            display: none;
          }
          &--image{
            display: none;
          }
        &--staticImage{
          width: 100%;
          height: 20rem;
          opacity: 1 !important;
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center center;
        }
          .staticImage-0{
            background-image: url(./img/1.png) !important;
          }
          .staticImage-1{
            background-image: url(./img/2.png) !important;
          grid-row: 2;
            grid-column: 1;
        }
          .staticImage-2{
            background-image: url(./img/3.png) !important;
          }
          &--staticImage:last-child{
            display: none;
          }
        }
      }
      &-button {
        font-size: 24px;
        line-height: 23px;
        width: 25rem;
        height: 6rem;
        & img{
          width: 2rem;
        }
      }
    }
  }
  @media (max-width: 480px) {
    .ourProjects {
      padding-bottom: 0.5rem;
      &-header {
        grid-template-columns: 1fr 0.3fr;
        padding: 2rem 0 0 1rem;
        &--title {
          margin-top: 0.5rem;
          font-size: 9vw;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
        }
        &--text {
          font-size: 14px;
          line-height: 17px;
          padding-bottom: 0;
        }
      }
  
      &-button {
        font-size: 14px;
        line-height: 13px;
        width: 15.5rem;
        height: 5rem;
      }
      .ourProjects-svg {
        margin-right: 1rem;
      }
    }
  }