@import "../../styles/variables";

* {
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 999;
  padding: 0.45rem;
  background: none;
  transition: background 0.5s;

  &.scrolled {
    background: rgba(0, 0, 0, 0.5);
  }

  &.infopage {
    background: rgba(0, 0, 0, 0.5);
  }

  &-block {
    display: flex;
    justify-content: space-around;
    align-items: center;
    @media (max-width: 1150px) {
      justify-content: space-between;
    }
  }

  &-logo {
    width: 162.357px;
    height: 39px;
  }
  &-ornament {
    display: none;
    @media (max-width: 1150px) {
      display: block;
      width: 100%;
      &:first-child {
        margin-top: 40px;
      }

      &:last-child {
        margin-top: auto;
        margin-bottom: 40px;
      }
    }
  }
  &-wrapper {
    display: flex;
    align-items: center;
    @media (max-width: 1150px) {
      background-image: url(../../img/textureBg.png);
      display: flex;
      justify-content: center;
      flex-direction: column;
      gap: 5%;
      position: fixed;
      transform: translateX(-100%);
      top: 0;
      left: 0;
      bottom: 0;
      width: 50%;
      height: 100vh;
      background-color: #f8f8f8;
      z-index: 10;
      transition: transform .75s;
    }
    @media (max-width: 992px) {
      gap: 20%;
    }
    @media (max-width: 576px) {
      gap: 10%;
      width: 100%;
      overflow: hidden;
    }

    &.active {
      transform: translateX(0);
    }

  }
  &-info {
    display: flex;
    align-items: center;
    @media (max-width: 1150px) {
      flex-direction: column;
    }
  }
  &-list {
    margin-right: 60px;
    display: flex;
    gap: 55px;
    @media (max-width: 1150px) {
      margin-top: 70px;
      flex-direction: column;
    }

    &__item {
      position: relative;

      &__link {
        color: $white-color;
        font-family: "IBM Plex Mono", monospace;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        text-transform: uppercase;
      }

      & span {
        color: $white-color;
        font-family: "IBM Plex Mono", monospace;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        text-transform: uppercase;
        @media (max-width: 1150px) {
          color: $black-color;
        }
      }

      &::before {
        content: "";
        position: absolute;
        width: 0;
        height: 3px;
        background: #FFF;
        bottom: 0;
        left: 0;
        transition: width 0.3s;
      }

      &:hover {
        &::before {
          width: 100%;
        }
      }
    }
  }

  &__btn {
    padding: 15px;
    background: $main-color;
    color: $white-color;
    font-family: "IBM Plex Mono", monospace;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
    border: 3px solid $white-color;
    border-radius: 0;
    &:hover{
      background: #bf1616B0;
    }
    @media (max-width: 1150px) {
      margin-top: 40px;
    }
  }

  &__btns {
    display: none;

    color: #FFFFFF;
    @media screen and (max-width: 1150px) {
      display: block;
      z-index: 9999;
    }
  }
}

.popup-overlay {
  align-items: center;
  background: hsla(0, 0%, 100%, .8);
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1001;
}
.menu-icon {
  width: 30px;
  height: 21px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

.menu-icon span {
  width: 100%;
  height: 3px;
  background-color: #fff;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}



.menu-icon.open span:nth-child(2) {
  opacity: 0;
}

.menu-icon.open span:nth-child(1) {
  transition: 1s;
  background-color: #000;
  transform: translateY(8.5px) rotate(45deg);
}

.menu-icon.open span:nth-child(3) {
  transition: 1s;
  background-color: #000;
  transform: translateY(-8.5px) rotate(-45deg);
}
