.question{
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(./img/Bg.png);
  background-size: cover;
  height: 52.5rem;
  &-container{
    width: 46.5rem;
    height: 47rem;
    background: #FFFBF6;
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem 1.5rem;
    gap: 2rem;
    &--scrollable {
      max-height: 44.5rem;
      overflow-y: auto;
      overflow-x: hidden;
      display: grid;
      gap: 4.5rem;
      margin-top: 1.5rem;
    }
    &--title{
      margin-top: 1.5rem;
      font-family: 'Kyiv Region', sans-serif;
      font-size: 50px;
      font-weight: 500;
      line-height: 51px;
      text-align:center;
      text-transform: uppercase;
    }
    &--list {
      display: grid;
      grid-template-columns: 0.1fr 1fr 0.1fr;
      grid-template-rows: 1fr 5px;
      align-items: center;
      width: 41.5rem;
      column-gap: 1rem;

      &.expanded::before {
        opacity: 0;
      }

      &.expanded .question-container--answer {
        max-height: 500px;
      }

      &::before {
        content: "";
        display: block;
        width: 100%;
        height: 1.5px;
        background-color: #1D1D1B;
        grid-column: 2/span 2;
        grid-row: 2;
        transition: opacity 0.3s ease-in-out;
        opacity: 1;
      }
        &:last-child::before {
          height: 1.6px;
        }
    }
    &--number{
      font-family: 'Kyiv Region', sans-serif;
      font-size: 18px;
      font-weight: 700;
      line-height: 2.5rem;
      color: white;
      background-color: #BF1616;
      border-radius: 50px;
      width: 2.4rem;
      height: 2.4rem;
      text-align: center;
      justify-self: center;
    }
    &--button{
      width: 36rem;
      justify-self: center;
      background-color: #FFFBF6;
      border: 0;
      text-align: start;
      cursor: auto;
    }
    &--text{
      font-family: 'IBM Plex Mono', monospace;
      font-size: 20px;
      font-weight: 500;
      line-height: 24px;
      color: #1D1D1B;
      margin-right: 1rem;
      background-color:#FFFBF6 ;

    }
    &--answer{
      font-family: 'IBM Plex Mono', monospace;
      font-size: 20px;
      font-weight: 400;
      line-height: 30px;
      grid-column: 2;
      margin: 0 ;
    }
  }
}
.arrow-icon {
  width: 20px;
  height: 20px;
  transition: transform 0.5s ease-in-out;

}

.arrow-up {
  transform: rotate(180deg);
}

.arrow-down {
  transform: rotate(0deg);
}

@media (max-width: 1023px) {
  .question {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./img/Bg.png);
    background-size: cover;
    height: auto;
    padding: 4rem;
  }

  .question-container {
    max-width: 46.5rem;
    width: 100%;
    border-radius: 8px;
    background: #FFFBF6;
    display: flex;
    flex-direction: column;
    padding: 2rem 1rem;
    gap: 2rem;
  }

  .question-container--scrollable {
    max-height: 44.5rem;
    overflow-y: auto;
    overflow-x: hidden;
    display: grid;
    gap: 2rem;
  }

  .question-container--title {
    font-size: 53px;
    font-weight: 500;
    line-height: 51px;
    text-transform: uppercase;
  }
  .question-container--list {
    display: grid;
    grid-template-columns: 0.1fr 1fr 0.1fr;
    grid-template-rows: 1fr 5px;
    align-items: center;
    width: 100%;
    column-gap: 1rem;
    row-gap: 0;
  }

  .question-container--number {
    font-size: 16px;
    width: 2rem;
    height: 2rem;
    line-height: 2.25rem;
  }

  .question-container--button {
    width: 100%;
  }

  .question-container--text {
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
    margin-right: 0.5rem;
  }

  .question-container--answer {
    font-size: 18px;
    margin: 0;
  }

  .arrow-icon {
    width: 16px;
    height: 16px;
  }
}
  @media (max-width: 480px) {
    .question{
      padding: 2rem;
      &-container{
        gap: 1rem;
      }
    }
    .question-container--title {
      font-size: 11vw;
      line-height: 38px;
    }
    .question-container--list {
      grid-template-columns: 1fr;
      gap: 1rem;
    }
    .question-container--number {
      font-size: 14px;
      width: 1.8rem;
      height: 1.8rem;
      line-height: 1.9rem;
    }
    .question-container--text {
      font-size: 14px;
      line-height: 17px;
      margin-right: 0.25rem;
    }
    .question-container--answer {
      font-size: 16px;
    }
    .arrow-icon {
      width: 14px;
      height: 14px;
    }
  }