.project-container {
  position: relative;
  &__photo{
    background-image: url(../../img/textureBg.png);
  }
  &__info {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  &__intro {
    padding-top: 143px;
    padding-bottom: 202px;
  }
  &__wrapper {
    background: #BF1616;
    width: 568px;
    height: 224px;
    margin: auto;
    @media(max-width: 568px) {
      width: 100%;
      height: 139px;
    }
  }
  &__title {
    padding-top: 57px;
    text-align: center;
    font-family: 'Kyiv Region', sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: #FFF;
    @media(max-width: 568px) {
      padding-top: 30px;
      font-size: 40px;
    }
  }
  &__description {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin: 35px auto;
    @media(max-width: 568px) {
      gap: 30px;
      margin: 20px auto;
    }
  }
  &__subtitle {
    color: #FFF;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    @media(max-width: 568px) {
      font-size: 16px;
    }
  }
}

.project-info {
  display: grid;
  grid-template-columns: repeat(4, 292px);
  gap: 10px;
  justify-content: center;
  align-content: center;
  margin: 0 auto 2rem;
  width: max-content;
  @media(max-width: 1300px) {
    grid-template-columns: repeat(4, 215px);
  }
  @media(max-width: 992px) {
    grid-template-columns: repeat(3, 215px);
  }
  @media(max-width: 768px) {
    grid-template-columns: repeat(3, 168px);
  }
  @media(max-width: 568px) {
    grid-template-columns: repeat(2, 140px);
    gap: 5px;
  }
  &__item {
    width: 292px;
    height: 305px;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    @media(max-width: 1300px) {
      width: 215px;
      height: 228px;
    }
    @media(max-width: 768px) {
      width: 168px;
      height: 176px;
    }
    @media(max-width: 568px) {
      width: 140px;
      height: 155px;
    }
  }
  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;

  }
  &__load-more {
    background-color: rgba(223, 14, 14, 0.60);
    display: block;
    color: white;
    margin: 0 auto;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    &:hover{
      background-color: rgba(223, 14, 14, 0.90);
      transition: 0.35s;
    }
  }
}

.buttons {
  padding-top: 65px;
  padding-bottom: 120px;
  display: flex;
  justify-content: center;
  gap: 102px;
  @media(max-width: 992px) {
    padding-top: 50px;
    padding-bottom: 60px;
    gap: 50px;
  }
  @media(max-width: 768px) {
    padding-top: 50px;
    padding-bottom: 60px;
    gap: 20px;
  }
  @media(max-width: 568px) {
    gap: 10px;
  }
  &__wrapper {
    display: flex;
    align-items: center;
    gap: 25px;
    @media(max-width: 768px) {
      gap: 15px;
    }
    @media(max-width: 568px) {
      gap: 10px;
    }
    & span {
      position: relative;

      font-family: 'IBM Plex Mono', monospace;
      font-size: 24px;
      font-style: normal;
      font-weight: 400;
      line-height: 29px;
      @media(max-width: 768px) {
        font-size: 18px;
      }
      @media(max-width: 568px) {
        font-size: 14px;
        &::after {
          content: '';
          position: absolute;
          bottom: -5px;
          left: 0;
          width: 100%;
          height: 2px;
          background-color: #BF1616;
        }
      }
    }
  }
  &__btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #BF1616;
    display: flex;
    justify-content: center;
    align-items: center;

    @media(max-width: 768px) {
      width: 30px;
      height: 30px;
      & svg {
        width: 25px;
        height: 25px;
      }
    }
    @media(max-width: 568px) {
      display: none;
    }
  }
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  position: relative;
  background-color: rgba(0, 0, 0, 0.1);
  max-width: 100%;
  height: 90%;
  overflow: hidden;
  & img{
    order: 2;
    width: 85%;
  }
}

.modal-close {
  position: absolute;
  top: 6rem;
  right: 2.5rem;
  font-size: 40px;
  font-weight: lighter;
  background-color: transparent;
  color: #fff;
  padding: 0;

  transition: all .2s ease-in-out;
  border: none;
  outline: none !important;

}

.modal-close:hover {
  color: #BF1616;
  opacity: 1;
}

.modal-slider {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  position: relative;
  overflow: hidden;
  height: 100%;
}

.modal-arrow {
  font-size: 35px;
  font-weight: lighter;
  color: #fff;
  padding: 0;

  transition: all .2s ease-in-out;
  background-color: transparent;
  border: none;
  outline: none !important;
}

.modal-arrow:hover {
  color: #BF1616;
}


.modal-img {
  position: relative;
  max-width: 90%;
  max-height: 90%;
  object-fit: cover;
}
.modal-arrow,
.modal-close {
  position: absolute;

  transition: all 0.2s ease-in-out;
  background-color: transparent;
  border: none;
  outline: none !important;
  z-index: 1;
}



.modal-arrow {
  top: 50%;
  transform: translateY(-50%);
}

.prev {
  &:disabled{
    display: none;
  }
   order: 1;
  left: 5px;
}

.next {
  &:disabled{
    display: none;
  }
   order: 3;
  right: 5px;
}
