@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
    cursor: none;
    font-family: "Roboto", sans-serif;
}

.container {
    position: relative;
    width: clamp(320px, 100%,1440px);
    margin: 0 auto;
    @media (max-width: 992px) {
        width: 100%;
    }
}